/* 
    Created on : Feb 7, 2020, 4:05:06 PM
    Author     : marian
*/
.list-orders .about[data-entity="id"] {
    padding-right: 15px;
    width: 48px;
}

.list-orders .promotion[data-entity="promotion"] {
    padding-right: 15px;
    width: 360px;
}

.list-orders .date[data-entity="date"] {
    padding-right: 15px;
}

.list-orders .total[data-entity="total"] {
    padding-left: 15px;
    padding-right: 15px;
}